#skill-section {
    background: $light-blue;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;
    
    aside {
        grid-column-start: 1;
        background-color: $blue;

        .img-container {
            margin: auto;
            margin-top: 40px;
            border: 5px solid $white;
            border-radius: 50%;
            height: 200px;
            width: 200px;

            img {
                border-radius: 100%;
                max-height: 100%;
                max-width: 100%;
            }
        }


        h3 {
            text-align: center;
            font-size: 2rem;
            margin: 10px 0 0 0;
        }

        .text-container {
            padding: 20px;

            p {
                text-align: justify;
                font-size: 1.2rem;
            }
        }
    }

    section {
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        color: $blue;

        h3 {
            text-align: center;
            font-size: 2rem;
            margin: 10px 0 0 0;
        }

        .skills-schema {
            padding: 40px 60px;

            .skillbar {
                position: relative;
                display: block;
                margin-bottom: 15px;
                width: 100%;
                background: $white;
                height: 28px;
                border-radius: 2px;
                @include easeOut;
            }
            
            .skillbar-title {
                position: absolute;
                top: 0;
                left: 0;
                width: 125px;
                text-align: center;
                font-size: 1.2rem;
                color: $white;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            
            .skillbar-title span {
                display: block;
                background: rgba(0, 0, 0, 0.1);
                padding: 0 20px;
                height: 28px;
                line-height: 28px;
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }
            
            .skillbar-bar {
                height: 28px;
                width: 0px;
                background: #6adcfa;
                border-radius: 3px;
            }
            
            .skill-bar-percent {
                position: absolute;
                right: 10px;
                top: 0;
                font-size: 1rem;
                height: 28px;
                line-height: 28px;
                color: $dark-blue;
            }
        }
    }
}